* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 
body{
    background: #323445;
}
h1, h2, h3, h4 {
  font-family: Helvetica Neue Medium Extended;
  src: url('Fontit/Helvetica-Neue-Font/Helvetica Neue Medium Extended.ttf');
}
p, a {
  font-family: Merriweather;
  src: url('Fontit/Merriweather/Merriweather-Regular.ttf');
  font-size: 18px;
}
li {
    list-style: none;
    font-family: Merriweather;
  src: url('Fontit/Merriweather/Merriweather-Regular.ttf');
}
.links a {
    text-decoration: none;
    color: white;
}
.label {
  font-family: Helvetica Neue Medium Extended;
  src: url('Fontit/Helvetica-Neue-Font/Helvetica Neue Medium Extended.ttf');
}
figcaption {
  font-family: Helvetica Neue Medium Extended;
  src: url('Fontit/Helvetica-Neue-Font/Helvetica Neue Medium Extended.ttf');
}
body{
  background: #323445;
  overflow-x: hidden
}
html {
overflow-x: hidden
}

/*Navbar*/

header {
    position: relative;
  }
  .navbar {
      width: 100%;
      height: 70px;
      max-width: 1200px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 2rem;
  }
  .links li {
    display: inline-block;
    padding-left: 2rem;
}
  .logo {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .logo:hover, .logo:focus, .logo:active {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
  .links a {
    color: #fff;
    display: inline-block;
    text-decoration: none;
    position: relative;
  }
  .links a::after {
    content: '';
    position: absolute;
    width: 102%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #FEC158;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  .links a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

/*About me page*/

.aboutmain {
    background-color: #232533;
    margin-bottom: 13rem;
  }   
  .aboutme {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .aboutme a {
    color: #FEC158;
    font-size: 50px;
  }
  .aboutme h1 {
    color: #fff;
    font-size: 50px;
    margin-top: 7rem;
    margin-bottom: 3rem;
  }
  .aboutrow {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
  }
  .aboutcolumn {
    width: 60%;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-top: 3rem;
    color: #fff;
    
  }
  .aboutcolumn2 {
    width: 40%;
    padding-right: 2rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
  .aboutcolumn2 img {
    width: 100%;
  }
  .aboutcolumn h3 {
    display: flex;
    font-size: 25px;
  }
  .aboutcolumn p {
    margin-top: 4rem;
    margin-bottom: 4rem;
  }
  .aboutlist {
  display: flex;
  justify-content: space-between;
   max-width: 600px;
   padding-bottom: 3rem;
  }
  .aboutlist a {
    color: #FEC158;
    font-size: 22px;
  }
  .aboutlist li {
    color: #fff;
  }
  .aboutlist li:not(:last-child) {
    margin-right: 3rem;
  }
  .aboutlist figcaption {
  font-size: 22px;
  padding-bottom: 1rem;
  color: #fff;
  }

  /*Footer*/

.footer {
    background-color: #232533;
    position: relative;
    width: 100%;
    height: auto;
    padding: 50px 0;
  }
  .footer-col {
    width: 86%;
  }
  .container {
    max-width: 1200px;
    margin: auto;
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .footer-col p {
    color: #fff;
    margin-bottom: 1.1rem;
  }
  .footer-col a {
    display: inline-block;
    position: relative;
  }
  .footer-col a::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0px;
    left: 0;
    background-color: #FEC158;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  .footer-col a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  .footer-col h4 {
    font-size: 25px;
    color: rgb(255, 255, 255);
    margin-bottom: 1.1rem;
    font-weight: 500;
    position: relative;
  }
  .footer a {
    text-decoration: none;
    color: rgb(255, 255, 255);
  }
  .footer ul {
    list-style: none;
  }
  .row {
    display: flex;
  }
  
  .footer-col-2 {
    width: auto;
  }
  .footer-col-2 h4 {
    font-size: 25px;
    color: rgb(255, 255, 255);
    margin-bottom: 20px;
    font-weight: 500;
    position: relative;
  }
  .footer-col-3 {
    width: auto;
    margin-left: 3rem;
  }
  .footer-col-3 h4 {
    font-size: 25px;
    color: rgb(255, 255, 255);
    margin-bottom: 20px;
    font-weight: 500;
    position: relative;
  }
  .footer-col-2 li {
    padding-top: .3rem;
  }
  .footer-col-3 li {
    padding-top: .3rem;
  }
  .footer-col-2 a {
    display: inline-block;
    position: relative;
  }
  .footer-col-3 a {
    display: inline-block;
    position: relative;
  }
  .footer-col-2 a::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #FEC158;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  .footer-col-2 a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  .footer-col-3 a::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #FEC158;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  .footer-col-3 a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

  @media (max-width: 950px) { 
    .aboutrow {
      display: flex;
      max-width: 1200px;
      margin: 0 auto;
    }
    .aboutcolumn {
      width: 60%;
      padding-left: 2rem;
      padding-right: 1rem;
      margin-top: 3rem;
      color: #fff;
    }
    .aboutcolumn2 {
      width: 40%;
      padding-right: 2rem;
      margin-top: 3rem;
      margin-bottom: 3rem;
    }
    .aboutcolumn h3 {
      display: flex;
      font-size: 25px;
    }
    .aboutcolumn p {
      margin-top: 5rem;
      margin-bottom: 5rem;
    }
    .aboutlist {
    display: flex;
    justify-content: space-between;
     width: 900px;
     padding-bottom: 3rem;
     margin-top: 6rem;
    }
    .aboutlist a {
      color: #FEC158;
      font-size: 22px;
    }
    .aboutlist li {
      color: #fff;
    }
    .aboutlist figcaption {
    font-size: 22px;
    padding-bottom: 1rem;
    color: #fff;
    }
  }

  @media (max-width: 700px) {
    .aboutcolumn h3 {
      width: 600px;
    }
    .aboutcolumn p {
      font-size: 18px;
      margin-top: 3.9rem;
    }
    .aboutcolumn2 img {
      margin-top: 11rem;
    }
    .aboutlist figcaption {
      font-size: 20px;
    }
    .aboutlist {
      width: 500px;
      margin-top: 8rem;
    }

  @media (max-width: 620px) {
    .aboutcolumn {
      padding-left: 1rem;
    }
    .aboutcolumn2 {
      padding-right: 1rem;
    }
    .aboutcolumn h3 {
      width: 480px;
    }
      .aboutme h1 {
        font-size: 40px;
      }
      .aboutme a {
        font-size: 40px;
      }
    .links li {
      padding-left: 1rem;
    }
    .navbar {
      padding: 0 1rem;
    }
  }

  @media (max-width: 510px) {
    .container {
      padding: 0 1rem;
    }
    .footer {
      padding: 30px 0;
    }
    .footer-col {
      width: 93.5%;
      visibility: visible;
      position: absolute;
      text-align: center;
    }
    .footer-col-2 {
      width: 50%;
      margin-top: 10rem;
      visibility: visible;
      position: relative;
      text-align: center;
    }
    .footer-col-3 {
      width: 50%;
      margin-top: 10rem;
      visibility: visible;
      position: relative;
      margin-left: 0;
      text-align: center;
    }
    .footer-col-3 a {
      text-align: left;
    }
    .aboutcolumn h3 {
      width: 450px;
    }
    .aboutcolumn p {
      margin-top: 2.1rem;
    }
    .aboutlist {
      width: 100%;
    }
  }

  @media (max-width: 469px) {
    .aboutcolumn h3 {
      width: 350px;
    }
  }
  @media (max-width: 380px) {
    .aboutcolumn h3 {
      font-size: 22px;
  }
  .aboutcolumn p {
    font-size: 16px;
    margin-top: 3.2rem;
  }
  
  .aboutlist {
    display: flex;
    width: 100%;
  }
  .aboutcolumn2 img {
    margin-top: 13rem;
  }
  .aboutlist .figure {
    width: 250px;
  }
}
  }
