* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 
body{
    background: #323445;
}
h1, h2, h3, h4 {
  font-family: Helvetica Neue Medium Extended;
  src: url('Fontit/Helvetica-Neue-Font/Helvetica Neue Medium Extended.ttf');
}
p, a {
  font-family: Merriweather;
  src: url('Fontit/Merriweather/Merriweather-Regular.ttf');
  font-size: 18px;
}
li {
    list-style: none;
    font-family: Merriweather;
  src: url('Fontit/Merriweather/Merriweather-Regular.ttf');
}
.links a {
    text-decoration: none;
    color: white;
}
.label {
  font-family: Helvetica Neue Medium Extended;
  src: url('Fontit/Helvetica-Neue-Font/Helvetica Neue Medium Extended.ttf');
}
figcaption {
  font-family: Helvetica Neue Medium Extended;
  src: url('Fontit/Helvetica-Neue-Font/Helvetica Neue Medium Extended.ttf');
}
body{
  background: #323445;
  overflow-x: hidden
}
html {
overflow-x: hidden
}
/*Navbar*/

header {
    position: relative;
  }
  .navbar {
      width: 100%;
      height: 70px;
      max-width: 1200px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-left: 2rem;
      padding-right: 2rem;
  }
  .links li {
    display: inline-block;
    padding-left: 2rem;
}
body.hasHover .logo {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  body.hasHover .logo:hover, .logo:focus, .logo:active {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
  .links a {
    color: #fff;
    display: inline-block;
    text-decoration: none;
    position: relative;
  }
  body.hasHover .links a::after {
    content: '';
    position: absolute;
    width: 102%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #FEC158;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  body.hasHover .links a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

/*Projects page*/

.firstproject {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
  .firstproject img {
    margin-top: -18rem;
    margin-right: 4.6rem;
  }
  .firstproject a {
    color: white;
    font-size: 18px;
    z-index: 1;
    position: relative;
  }
  .firstproject h1 {
    color: #fff;
    font-size: 32px;
    width: 50%;
    margin-top: .5rem;
    z-index: 1;
    position: relative;
  }
  .firstproject {
   margin-top: 10rem;
  }
  .projectimage {
    text-align: right;
    margin-right: -5rem;
  }
  .secondproject {
    background-color: #232533;
    padding: 7rem 2rem 7rem 2rem
  }
  .projectrow {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
  }
  .projectcolumn {
    width: 50%;
    padding-left: 2rem;
    padding-right: 2rem;
    color: #fff;
  }
  .projectcolumn2 {
    width: 50%;
  }

  .projectcolumn h3 {
    display: flex;
  }
  .projectcolumn p {
    margin-bottom: 2rem;
  }
  .projectlist {
    display: flex;
  }
  .projectlist a {
    color: #FEC158;
    font-size: 22px;
  }
  .projectlist figcaption {
  font-size: 22px;
  padding-bottom: 1rem;
  padding-right: 5rem;;
  }
  .thirdprojectt {
    background-color: #323445;
    max-width: 1200px;
    padding-right: 2rem;
    padding-left: 2rem;
    margin: 0 auto;
  }
  .thirdprojecttimg {
    margin-top: 5rem;
    margin-bottom: 5rem;
  }

  /*Footer*/

.footer {
    background-color: #232533;
    position: relative;
    width: 100%;
    height: auto;
    padding: 50px 0;
  }
  .footer-col {
    width: 86%;
  }
  .container {
    max-width: 1200px;
    margin: auto;
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .footer-col p {
    color: #fff;
    margin-bottom: 1.1rem;
  }
  .footer-col a {
    display: inline-block;
    position: relative;
  }
  body.hasHover .footer-col a::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0px;
    left: 0;
    background-color: #FEC158;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  body.hasHover .footer-col a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  .footer-col h4 {
    font-size: 25px;
    color: rgb(255, 255, 255);
    margin-bottom: 1.1rem;
    font-weight: 500;
    position: relative;
  }
  .footer a {
    text-decoration: none;
    color: rgb(255, 255, 255);
  }
  .footer ul {
    list-style: none;
  }
  .row {
    display: flex;
  }
  .footer-col-2 {
    width: auto;
  }
  .footer-col-2 h4 {
    font-size: 25px;
    color: rgb(255, 255, 255);
    margin-bottom: 20px;
    font-weight: 500;
    position: relative;
  }
  .footer-col-3 {
    width: auto;
    margin-left: 3rem;
  }
  .footer-col-3 h4 {
    font-size: 25px;
    color: rgb(255, 255, 255);
    margin-bottom: 20px;
    font-weight: 500;
    position: relative;
  }
  .footer-col-2 li {
    padding-top: .3rem;
  }
  .footer-col-3 li {
    padding-top: .3rem;
  }
  .footer-col-2 a {
    display: inline-block;
    position: relative;
  }
  .footer-col-3 a {
    display: inline-block;
    position: relative;
  }
  body.hasHover .footer-col-2 a::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #FEC158;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  body.hasHover .footer-col-2 a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  body.hasHover .footer-col-3 a::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #FEC158;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  body.hasHover .footer-col-3 a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
 
  @media (max-width: 1250px) {
    .projectcolumn2 {
      margin-left: -.5rem;
    }
    .thirdprojecttimg img {
      width: 100%;
    }
  }
  @media (max-width: 1200px) {
    .projectcolumn2 {
      margin-left: -2rem;
    }
    .secondproject img {
      width: 100%;
    }
  }
  @media (max-width: 1000px) {
    .firstproject img {
      width: 50%;
    }
    .secondproject img {
      width: 100%;
    }
    .projectcolumn {
      width: 70%;
      padding-right: 0;
    }
    .projectcolumn2 {
      width: 50%;
      margin-right: -2rem;
      margin-left:-1rem;
    }
    .projectlist {
      display: none;
    }
  }

  @media (max-width: 700px) {
    .links li {
      padding-left: 1rem;
    }
    .navbar {
      padding: 0 1rem;
    }
      .firstproject {
        margin-top: 5rem;
        padding: 0 1rem;
        margin-bottom: -1.5rem;
      }
      .firstproject h1 {
        width: 340px;
        margin-bottom: 8rem;
        font-size: 25px;
      }
    .firstproject img {
    width: 73%;
    align-content: center;
    margin: -8rem 8.8rem 5rem -3rem;
    padding: 0;
    visibility: visible;
  }
    .projectrow {
      padding: 0;
    }
    .projectcolumn {
      margin-top: 4rem;
      padding: 0;
      width: 100%;
      margin-left: -12.5rem;
      
    }
    .projectcolumn2 {
      visibility: visible;
      padding: 0;
      margin-top: 0;
      margin-right: 0;
      margin-left: 0;
    }
    .projectcolumn p{
      width: 110%;
      margin: 0 0 2rem 0;
      margin-left: -5.35rem;
    }
    .secondproject {
      padding: 0 1rem;
    }
    .secondproject img {
      width: 200%;
      visibility: visible;
      margin-top: 26rem;
      margin-bottom: 3rem;
      padding: 0;
      margin-left: 2.7rem;
    }
    .thirdprojectt {
      padding: 0 1rem;
      text-align: center;
    }
    .thirdprojecttimg {
      width: 100%;
    }
  }

  @media (max-width: 680px) {
    .projectcolumn p{
      margin-left: -5rem;
    }
  }

  @media (max-width: 660px) {
    .projectcolumn p{
      margin-left: -4.9rem;
    }
    .secondproject img {
      margin-left: 2.4rem;
     }
  }

  @media (max-width: 640px) {
    .projectcolumn p{
      margin-left: -4.5rem;
    }
  }

  @media (max-width: 620px) {
    .projectcolumn p{
      margin-left: -4rem;
    }
  }

  @media (max-width: 600px) {
    .projectcolumn p{
      margin-left: -3.55rem;
    }
    .secondproject img {
      margin-left: 1.8rem;
    }
  }
  
    @media (max-width: 580px) {
      .projectcolumn p {
        margin-left: -2.85rem;
      }
      .secondproject img {
        margin-left: 1.55rem;
      }
    }

    @media (max-width: 560px) {
      .projectcolumn p {
        margin-left: -2.4rem;
        width: 105%;
      }
      .firstproject img {
        margin: -8rem 7.5rem 5rem -3rem;
    }
    }

    @media (max-width: 540px) {
      .projectcolumn p {
        margin-left: -2rem;
      }
      .secondproject img {
        margin-left: 1.15rem;
      }
  }

    @media (max-width: 520px) {
      .projectcolumn p {
        margin-left: -1.7rem;
      }
      .secondproject img {
        margin-left: 0.9rem;
      }
    }

    /* FOOTER */
  @media (max-width: 510px) {
    .container {
      padding: 0 1rem;
    }
    .footer {
      padding: 30px 0;
    }
    .footer-col {
      width: 93.5%;
      visibility: visible;
      position: absolute;
      text-align: center;
    }
    .footer-col-2 {
      width: 50%;
      margin-top: 10rem;
      visibility: visible;
      position: relative;
      text-align: center;
    }
    .footer-col-3 {
      width: 50%;
      margin-top: 10rem;
      visibility: visible;
      position: relative;
      margin-left: 0;
      text-align: center;
    }
    .footer-col-3 a {
      text-align: left;
    }
  }

    @media (max-width: 500px) {
      .projectcolumn p {
        margin-left: -1.25rem;
      }
     .secondproject img {
      margin-left: 0.55rem;
     }
    }

    @media (max-width: 480px) {
      .projectcolumn p {
        margin-left: -.8rem;
        width: 100%;
      }
      .secondproject img {
        margin-top: 28rem
      }
      .firstproject img {
        margin: -8rem 7rem 5rem -3rem;
      }
    }

    @media (max-width: 460px) {
      .projectcolumn p{
      margin-left: -.3rem;
    }
    .firstproject img {
      margin: -8rem 5.6rem 5rem -3rem;
      width: 80%;
    }
    .secondproject img {
      margin-left: 0.2rem;
     }
  }

  @media (max-width: 440px) {
    .projectcolumn p{
    margin-left: 0rem;
  }
  .secondproject img {
    margin-left: 0rem;
   }
}

@media (max-width: 420px) {
  .projectcolumn p {
  margin-left: 0.69rem;
  
}
.secondproject img {
  margin-top: 30rem;
}
}
@media (max-width: 400px) {
  .projectcolumn p{
  margin-left: 1.23rem;
  
}
.firstproject img {
  margin: -8rem 5.2rem 5rem -3rem;
}
.thirdprojecttimg {
margin-top: 4rem;
margin-bottom: 4rem;
}
}

@media (max-width: 390px) {
  .secondproject img {
margin-left: -.1rem;
padding: 0rem;
  }
}

@media (max-width: 380px) {
  .projectcolumn p {
    margin-left: 1.83rem;
  }
}

  @media (max-width: 370px) {
    .projectcolumn p{
    margin-left: 2.2rem;
    }
    .secondproject img {
      margin-top: 33rem;
    }
  }

@media (max-width: 360px) {
  .firstproject h1 {
    font-size: 22px;
  }
  .firstproject img {
    margin: -8rem 5rem 5rem -3rem;
  }
  .projectcolumn p {
  margin-left: 2.4rem;
}
}

@media (max-width: 350px) {
  .projectcolumn p {
  margin-left: 2.6rem;
}
.secondproject img {
  margin-top: 35rem;
  margin-left: -.1rem;
}
}

@media (max-width: 340px) {
  .projectcolumn p{
  margin-left: 2.8rem;
}
}

@media (max-width: 330px) {
  .projectcolumn p{
  margin-left: 3.4rem;
}
.secondproject img {
  margin-top: 36rem;
  margin-left: 0rem;
}
}
